 <h3>Add a Recipe</h3>
  <hr>
  <h2>Add your own</h2>
  <form ng-submit="postRecipe()" name="recipeForm" ng-model="recipe">
    
    <div class="form-group">
      <label for="author" class="control-label">Recipe By</label>
      <div>
        <input name="author" type="text" class="form-control" ng-model="recipe.author"/>
      </div>
    </div>

    
    <div class="form-group">
      <label for="title" class="control-label">Recipe Title</label>
      <div>
        <input name="title" type="text" class="form-control" ng-model="recipe.title" required/>
      </div>
    </div>

    <div id= "ingredientList">
    <div class="form-group">
      <label for="ingredient" class="control-label" >Ingredients:</label>
      <div ng-repeat="ingredient in recipe.ingredients track by $index" required>
        <input type="text" placeholder="some ingredient"class="form-control" ng-model="recipe.ingredients[$index]"/>
      </div>
    </div>
    </div>    
    <div>
    <button class="btn" type="button" id= "add-btn" ng-click="addIngredient()">Add Ingredient</button>
    </div>

    <div class="form-group">
      <label for="instructions" class="control-label">Instructions</label>
      <div>
        <textarea name="instructions" ng-model="recipe.instructions" style="width:100%" required></textarea>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary" ng-disabled="recipeForm.$invalid">Submit</button>
    </div>
  
  </form>
  <form ng-submit="postUrl()" name="urlForm">
    <div class ="form-group">
      <label for="RecipeUrl">Add Recipe From URL</label>
      <input name "RecipeUrl" ng-model="recipeUrl" ng-url required>
      <button type="submit" class="btn btn-primary" ng-disabled="urlForm.$invalid">Submit Url</button>
    </div>
  </form>